*{
margin:0;
padding:0;
box-sizing:border-box;
}

.skills-section{

padding:100px 0;
background:black;
overflow:visible;

}

.section-title{

text-align:center;
font-size:45px;
font-weight:700;
color:#fff;
margin-bottom:60px;

}

.section-title span{

color:#00e5ff;

}

.marquee{

overflow:visible;
position:relative;

}

.marquee::before,
.marquee::after{

content:"";
position:absolute;
top:0;
width:120px;
height:100%;
z-index:2;

}

.marquee::before{

left:0;
background:linear-gradient(to right,#050816,transparent);

}

.marquee::after{

right:0;
background:linear-gradient(to left,#050816,transparent);

}

.marquee-track{

display:flex;
gap:50px;
width:max-content;

animation:scroll 24s linear infinite;

}

.marquee:hover .marquee-track{

animation-play-state:paused;

}

@keyframes scroll{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}

.skill-card{

width:180px;
height:170px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:.4s;

}

.skill-card:hover{

transform:translateY(-10px);

border-color:#00e5ff;

box-shadow:0 20px 45px rgba(0,229,255,.25);

}

.skill-card img{

width:65px;
height:65px;
margin-bottom:18px;
transition:.4s;
border-radius:20px;

}

.skill-card:hover img{

transform:scale(1.15) rotate(5deg);

}

.skill-card h4{

color:white;
font-size:17px;
font-weight:600;

}

@media(max-width:768px){

.skill-card{

width:140px;
height:140px;

}

.skill-card img{

width:50px;
height:50px;

}

.section-title{

font-size:34px;

}

}